version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2-stretch-browsers
      - image: postgres:10.1-alpine
    resource_class: medium
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            cd svinbin
            python manage.py migrate --settings=svinbin.circleci_settings
            python manage.py makemigrations --no-input --settings=svinbin.circleci_settings
            python manage.py test --settings=svinbin.circleci_settings --exclude-tag=with_file

      - run:
          name: Start Selenium
          command: |
            ls
            cd e2etesting
            python test_selenium.py
            
        - store_artifacts:
          path: test-reports/
          destination: python_app